include ../components/mixins/icon
.header-blackout
header.header
    .container
        .header__wrapper
            a(href="/").logotype
                +icon("logotype")
            .header__nav
                nav
                    a(href="#slide-1") Услуги
                    a(href="#slide-2") Институт
                    a(href="#slide-4") Достижения
                    a(href="#slide-5") Контакты
                button.header__lang EN
                button.header__open
                    span
                    span
                    span
